<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Sneaker</a>
    <ul>
      <li><a href="/authors">Sneaker</a></li>
      <li><a href="/authors/new">Add Sneaker</a></li>
      <li><a href="/books">Type</a></li>
      <li><a href="/books/new">Add Type</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</header>